html {
    overflow-y: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

// Добавление HEADER STYLES
@import "header";

// BOARD STYLES
.columns {
    margin: 10px 0;
    width: 100%;
    // position: fixed;
}
.cards {
    max-height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 0;
}
.column {
    width: 258px;
    height: 100%;
    background-color: #ebecf0;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 8px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
textarea {
    cursor: pointer;
}
textarea:focus {
    cursor: text;
}
.column__top {
    justify-content: space-between;
    align-items: center;
    background-color: #ebecf0;
}
.column__top img {
    width: 14px;
    height: 12px;
    opacity: 0.6;
}
.column__top textarea {
    outline: none;
    border: none;
    resize: none;
    padding: 4px;
    border-radius: 3px;
    width: 184px;
    &:focus {
        border: 1.3px solid blueviolet;
        background-color: white;
    }
    height: 16px;
    background-color: #ebecf0;
}
.boards {
    margin-right: 10px;
}
.column__top-menu {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 5px;
    transition: background-color 0.5s;
    &:hover {
        background-color: rgba(169, 169, 169, 0.5);
        cursor: pointer;
    }
}

/*CARD STYLES*/
.card {
    margin: 6px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    align-items: center;

    transition: background-color 0.5s;
    & img {
        width: 10px;
        height: 10px;
    }
    & div {
        margin-right: 10px;
    }
    position: relative;
    &:hover {
        background-color: #f0f8ff;
        cursor: pointer;
        .card__pencil {
            opacity: 1;
        }
    }
}
.card__text {
    width: 180px;
}
.card__pencil {
    height: 25px;
    width: 27px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2px;
    right: -5px;

    opacity: 0;

    transition: opacity 0.5s;
    &:hover {
        background-color: #ebecf0;
    }
}

.card__top {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
}
.mark {
    background-color: orange;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px 6px;
    box-sizing: border-box;
    color: white;
    margin-top: 2px;
}
.card__bottom {
    margin: 4px;
    position: relative;
    top: 6px;
    left: -4px;
    & img {
        width: 15px;
        height: 15px;
    }
}
.hint {
    z-index: 2;
    padding: 0 7px;
    display: flex;
    align-items: center;
    width: 120px;
    height: 25px;
    background-color: black;
    color: white;
    font-size: 10px;

    position: absolute;
    top: 0px;
    left: 17px;
    opacity: 0;
    transition: opacity 0.5s;
}
.column__bottom {
    border-radius: 3px;
    padding: 4px 13px;
    box-sizing: border-box;
    align-items: center;
    width: 205px;
    margin: 8px auto 5px auto;
    transition: background-color 0.5s;
    &:hover {
        background-color: #f0f8ff;
        cursor: pointer;
    }
    justify-content: center;
    align-items: center;
}
.column__bottom-plus {
    display: flex;
    align-items: center;
    opacity: 0.5;
    & img {
        width: 10px;
        height: 10px;
    }
    margin-right: 7px;
}
.column__bottom-text {
    font-size: 13px;
    opacity: 0.5;
}

/*Добавление карточки*/
.card__text-textarea {
    width: 225px;
    height: 22px;
    outline: none;
    border: none;
    resize: none;
    &::placeholder {
        font-size: 11px;
    }
}
.not__card {
    &:hover {
        background-color: white;
    }
    margin: -8px 0 6px 0;
}
.new__card {
    border-radius: 3px;
}
.new__card-btn,
.new__column-btn {
    background-color: #5aad45;
    padding: 4px 6px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    margin-right: 13px;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
.new__card-cancel {
    & img {
        width: 12px;
        height: 12px;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    display: flex;
    align-items: center;
}

/*Добавление колонки*/
.add__column {
    width: 258px;
    height: 44px;
    background-color: rgba(145, 149, 150, 0.3);
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    transition: background-color 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(145, 149, 150, 0.6);
    }
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
//Fixing bugs
.add__column-text {
    width: 258px;
}
.add__column-textarea {
    width: 254px;
}
//Fixing bugs
.add__column-plus {
    display: flex;
    align-items: center;
    margin-right: 4px;
    & img {
        width: 15px;
        height: 15px;
        filter: invert(1);
    }
}
.add__column-another {
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    width: 258px;
    background-color: white;
    height: 100%;
    & textarea {
        width: 97%;
        border: none;
        outline: none;
        resize: none;
        border-radius: 3px;
        &:focus {
            border: 1.3px solid blueviolet;
        }
    }
}

//POPUP STYLES

.popup {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.popup__content {
    border-radius: 3px;
    width: 60%;
    background-color: #f4f5f7;
    color: black;
    padding: 30px;
    margin: 40px;
    position: relative;

    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__open {
    opacity: 1;
    visibility: visible;
    .popup__content {
        opacity: 1;
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    }
}
.popup__close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: black;
    transition: background-color 0.5s;
    &:hover {
        background-color: #dbdcde;
        cursor: pointer;
    }
    border-radius: 50%;
    & img {
        width: 10px;
        height: 10px;
    }
}
.popup__title {
    width: 90%;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0.5em;
    justify-content: flex-start;
}
.popup__title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 16px;
        height: 16px;
    }
    margin-right: 8px;
}
.popup__title-textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    & textarea {
        width: 100%;
        padding: 3px 6px;
        box-sizing: border-box;
        height: 24px;
        border: none;
        outline: none;
        resize: none;
        border-radius: 3px;
        background-color: #f4f5f7;
        &:focus {
            background-color: white;
            border: 1px solid blueviolet;
        }

        font-size: 20px;
        font-weight: 600;
    }
}
.popup__description-top-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 16px;
        height: 16px;
    }
    margin-right: 14px;
}
.popup__description-top-text {
    font-size: 20px;
    font-weight: 500;
}
.popup__description-bottom {
    margin-top: 10px;
    & textarea {
        margin-left: 30px;
        padding: 6px 4px;
        border: none;
        outline: none;
        resize: none;
        width: 50%;
        border-radius: 3px;
        transition: height 0.2s;
        &:focus {
            background-color: white;
            border: 2px solid blueviolet;
        }
    }
}
.popup__description-bottom-save {
    display: inline-block;
    margin-left: 30px;
    & div:hover {
        opacity: 0.8;
    }
}
.save-btn {
    padding: 4px 8px;
    background-color: #5aad45;
    margin-right: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}
.cancel-btn {
    & img {
        width: 10px;
        height: 10px;
        &:hover {
            filter: invert(0.4);
            cursor: pointer;
        }
    }
}
.popup__marks {
    padding-left: 29px;
    box-sizing: border-box;
}
.popup__marks-title {
    margin-bottom: 5px;
}
.popup__marks {
    margin-bottom: 30px;
}
.popup-mark {
    padding: 4px 8px;
    border-radius: 3px;
    background-color: yellowgreen;
    margin: 4px;
    &:hover {
        cursor: pointer;
    }
}
.popup__marks-container {
    align-items: center;
}
.all-marks {
    flex-wrap: wrap;
}
.add__mark-btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-top: 6px;
    background-color: #ebecf0;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        & img {
            opacity: 1;
        }
    }
    & img {
        width: 15px;
        height: 15px;
        opacity: 0.5;
    }
}
/*NEW POPUP*/

.new-popup {
    // display:none;
    &:hover {
        cursor: pointer;
    }
    position: absolute;
    top: -15%;
    left: 26%;
    height: 129%;
    width: 284px;
    background-color: #dbdcde;
    border-radius: 3px;

    transition: all 0.5s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.new-popup-open {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.new-popup-top {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 7px 0;
    // background-color: red;
    border-radius: 3px;
    border-bottom: 1px solid rgba($color: #afb0b1, $alpha: 0.5);
}
.fixed {
    position: static;
}
.new-popup__close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 16px;
    color: black;
    transition: background-color 0.5s;
    &:hover {
        background-color: #dbdcde;
        cursor: pointer;
    }
    border-radius: 50%;
    & img {
        width: 10px;
        height: 10px;
    }
}
.new-popup__back {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 16px;
    color: black;
    transition: background-color 0.5s;
    &:hover {
        background-color: #dbdcde;
        cursor: pointer;
    }
    border-radius: 50%;
    & img {
        width: 10px;
        height: 10px;
    }
}
.new-popup-middle {
    overflow: auto;
    margin-top: 8px;
    height: 76%;
}
.middle__item {
    padding: 2px 8px;
}
.middle__item-left {
    width: 95%;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: yellowgreen;
    border-radius: 3px;
    color: white;
    margin-right: 6px;
    transition: border-left 0.1s;
    border-spacing: 7px;
    &:hover {
        border-left: 7px solid burlywood;
    }
}
.mark-tick {
    margin: 0 4px;
    & img {
        width: 8px;
        height: 8px;
        filter: invert(1);
    }
}
.middle__item-right {
    width: 36px;
    height: 30px;
    transition: background-color 0.8s;
    &:hover {
        background-color: #ebecf0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    & img {
        width: 12px;
        height: 12px;
    }
    margin-left: 6px;
}
.new-popup-bottom {
    background-color: #ebecf0;
    margin-top: 20px;
    border-radius: 3px;
    display: flex;
    padding: 4px 0;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: rgba($color: #ebecf0, $alpha: 0.8);
    }
}
// CREATE NEW POPUP
.change__popups {
    height: 284px;
}
.new-popup-body {
    padding: 18px;
    box-sizing: border-box;
}
.new-popup-body-title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}
.new-popup-body-input input {
    outline: none;
    border: none;
    padding: 4px 6px;
    width: 91%;
    &:focus {
        border: 1.2px solid blueviolet;
    }
    margin-bottom: 16px;
}
.new-popup-body-colors {
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 3px;
    flex-wrap: wrap;
}
.color {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 9px;
        height: 12px;
        filter: invert(1);
    }
    width: 43px;
    height: 27px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: yellow;
}
.new-popup-body-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin-top: 16px;
    background-color: #5aad45;
    padding: 4px 8px;
    border-radius: 3px;
    color: white;
}

/*ADD POPUP*/
.add__board-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 1);

    display: flex;
    justify-content: center;
    padding-top: 5%;
    box-sizing: border-box;
}
.change__opaciity {
    background-color: rgba($color: black, $alpha: 0.4);
}
.add__inner {
    width: 40%;
    height: 32%;
    justify-content: space-between;
    position: relative;
}
.add__inner-left {
    width: 70%;
    // height: 20%;
    border-radius: 5px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.add__inner-left-title {
    border-radius: 5px;
    padding: 12px 16px;
    & input {
        width: 70%;
        height: 38px;
        border: none;
        outline: none;
        padding: 4px 8px;
        border-radius: 3px;
        background-color: rgba($color: white, $alpha: 0.5);
        font-size: 20px;
    }
}
.add__board-popup-close {
    position: absolute;
    top: 4px;
    right: 8px;
    & img {
        width: 8px;
        height: 8px;
        filter: invert(1);
        &:hover {
            cursor: pointer;
        }
    }
}
.add__inner-right {
    border-radius: 3px;
    width: 30%;
    padding: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bg-image {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        width: 15px;
        height: 10px;
        filter: invert(1);
    }
    &:hover {
        cursor: pointer;
    }
}
.bg-image-tick {
    display: none;
}
.tick-show {
    display: inline;
}
.add__new-board {
    border-radius: 5px;
    width: 115px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: yellowgreen;
    position: absolute;
    left: 7px;
    bottom: 7px;
    transition: background-color 0.2s, opacity 0.3s;
    &:hover {
        background-color: rgba($color: yellowgreen, $alpha: 0.7);
        cursor: pointer;
    }
}

// LOG OUT
.logout {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    background-color: #a3aaba;
    & img {
        width: 20px;
        height: 20px;
    }
    &:hover {
        cursor: pointer;
    }
}
// BOARD TITLE
.board-title {
    & input {
        outline: none;
        border: none;
        max-width: 100px;
        background-color: transparent;
        color: white;
    }
}

// КНОПКА ДОСКИ
.to__be-closed{
    position: relative;
}
.list-of-boards {
    z-index: 33;
    position: absolute;
    top: 42px;
    left: 30px;
    width: 240px;
    height: 400px;
    background-color: rgba($color: #f4f5f7, $alpha: 1);
    border-radius: 3px;
    &:hover{
        cursor: pointer;
    }
}
.list-title {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    color: black;
}
.list-all {
    margin-top: 2.2%;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}
.list-item {
    width: 94.5%;
    justify-content: space-between;
    padding: 6px 3px;
    background-color: #e4e4e4;
    border-radius: 3px;
    margin: 3px;
    opacity: 0.8;
    transition: opacity 0.2s;
    &:hover {
        opacity: 1;
        .list-item-icons {
            visibility: visible;
            opacity: 1;
        }
    }
}
.list-item-img {
    width: 60%;
    height: 35px;
    & img {
        width: 32px;
        height: 32px;
    }
    margin-right: 5px;
}
.list-item-title {
    padding-left: 10px;
    box-sizing: border-box;
    color: black;
    max-width: 62%;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
}
.list-item-icons {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    display: flex;
    margin: 0 10px 0 0;
    align-items: center;
    justify-content: center;
    & img {
        width: 10px;
        height: 10px;
    }
    & div {
        margin-left: 10px;
    }
}
.list-cancel {
    & img {
        transition: width 0.4s, height 0.4s;
        &:hover {
            width: 12px;
            height: 12px;
        }
    }
}
.list-star {
    & img {
        transition: width 0.4s, height 0.4s;
        &:hover {
            width: 12px;
            height: 12px;
        }
    }
}
.list-of-boards-close{
    position: absolute;
    top: 10px;
    right: 13px;
    & img{
        width: 14px;
        height: 14px;
    }
}
/*УНИВЕРСАЛЬНЫЕ СТИЛИ*/
.df {
    display: flex;
}
.hov:hover {
    background-color: #696969;
    cursor: pointer;
}

/*BACGROUND IMAGE*/
.wrapper {
    height: 100vh;
    padding: 6px 12px;
    box-sizing: border-box;
    background-image: url("../images/bg4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-board {
    display: inline-block;
    position: relative;
}

/*SCROLL BAR*/

// У доски
.my-board {
    width: 100%;
    height: 83%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
}
.my-board::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 30px;
}
.my-board::-webkit-scrollbar {
    height: 6px;
    background-color: #f5f5f5;
    border-radius: 30px;
}
.my-board::-webkit-scrollbar-thumb {
    background-color: #c0c4cf;
    border-radius: 30px;
}

// У карточек
.cards::-webkit-scrollbar-track {
    background-color: #dadae2;
    border-radius: 30px;
}

.cards::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
    border-radius: 30px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #c0c4cf;
    border-radius: 30px;
}

// У списка досок
.list-all::-webkit-scrollbar-track {
    background-color: #dadae2;
    border-radius: 30px;
}

.list-all::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
    border-radius: 30px;
}

.list-all::-webkit-scrollbar-thumb {
    background-color: #c0c4cf;
    border-radius: 30px;
}

// У меток в попапе

.new-popup-middle::-webkit-scrollbar-track {
    background-color: #dadae2;
    border-radius: 30px;
}

.new-popup-middle::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
    border-radius: 30px;
}

.new-popup-middle::-webkit-scrollbar-thumb {
    background-color: #c0c4cf;
    border-radius: 30px;
}
